<script src="https://kit.fontawesome.com/ec98b7bfbc.js" crossorigin="anonymous"></script>


<div class="overlay">

<nav class="navbar navbar-light navbar-expand-lg navbar-fixed-top" style="background-color: #422678">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
        <li>
          <img
          src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp"
          class="rounded-circle perfil-image"
          style="height: 40px; width: 40px;"/>
        </li>

        <li class="nav-item dropdown" style="color: white; font-size: 1.3rem; font-weight: 100;">
          <a class="nav-link dropdown-toggle" style="color: white; padding-left: 20px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Perfil</a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #422678;">
              <a class="nav-link" href="#" style="color: white;">Perfil<span class="sr-only">(current</span></a>
              <a class="nav-link" href="#" style="color: white;">Buzón</a>
              <a class="nav-link" href="#" style="color: white;">Favoritos <span class="sr-only">(current)</span></a>
              <a class="nav-link" href="#" style="color: white;">Home <span class="sr-only" >(current)</span></a>
              <div class="dropdown-divider"></div>
              <span role="button"><a class="nav-link" style="color: white;">Log out<span class="sr-only">(current)</span></a></span>
              <a class="nav-link"  [routerLink]="['/reset-password']" routerLinkActive="router-link-active" style="color: white;">Recuperar Password(provsional)<span class="sr-only">(current)</span></a>
          </div>
        </li>
    </ul>
  </div>

  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" aria-label="Search">
      <button class="search-button btn my-2 my-sm-0" type="submit" style="color: white;">Search</button>
      <button class="login-button btn my-2 my-sm-0" type="button"  [routerLink]="['/login']" routerLinkActive="router-link-active">Login</button>
      <button class="login-button btn my-2 my-sm-0" type="button"  routerLinkActive="router-link-active" >Logout</button>
  </form>
</nav>




<div class="container-fluid" style="background-color: white;">
  <div class="row d-flex justify-content-center align-items-center" >
    <div class="main-container col-lg-12" id="shadow" style="height: 100vh; ">
      
      <div class="row" style="align-items: center;">
            <div class="col-lg-11 col-sm-8 col-xs-8 container mt-5" >
                  <div class="card" style="background-color: #422678;">

                      <div class="row gutters">
                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12" >
                      <div class="card h-100 profile-info">
                        <div class="card-body" style="background-color: #5C3A7D;">
                          <div class="account-settings">
                            <div class="user-profile" style="align-items: center;">
                              <div class="user-avatar text-center">
                                <img class="image-person img-fluid rounded-circle center" src="./../../../assets/photo.jfif" alt="Maxwell Admin" >
                              </div>
                              <div class="cont" style="text-align: center;">
                                <button class="button-image btn px-4 ms-3" ><img class="change-img" src="./../../../assets/image-solid.svg">Cambiar foto</button> 
                              </div>
                              <h5 class="user-name user-info" style="font-size: 2.2rem;">Paquito Paquitoner</h5>
                              <h6 class="user-email user-info">paquitoooo@Maxwell.com</h6>
                            </div>
                            <div class="about">
                              <p class="user-about">I'm Paquito, I like burrrrrito and kebab.I'm Paquito, I like burrrrrito and kebab.I'm Paquito, I like burrrrrito and kebab.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                      <div class="card h-100 profile-info">
                        <div class="card-body">
                          <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <h6 class="mb-2 info-title">Información personal</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                              <div class="form-group">
                                <label for="fullName">Nombre y Apellidos</label>
                                <input type="text" class="form-control" id="fullName" placeholder="Enter full name">
                              </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                              <div class="form-group">
                                <label for="eMail">Correo</label>
                                <input type="email" class="form-control" id="eMail" placeholder="Enter email ID">
                              </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                              <div class="form-group">
                                <label for="phone">DNI</label>
                                <input type="text" class="form-control" id="phone" placeholder="Enter phone number">
                              </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                              <div class="form-group">
                                <label for="website">Profeción</label>
                                <input type="url" class="form-control" id="website" placeholder="Website url">
                              </div>
                            </div>


                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12">
                              <div class="form-group">
                                <label for="website">Descripcíón</label>
                                <input type="url" class="form-control" id="website" placeholder="Website url">
                              </div>
                            </div>


                          </div>
                          <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <h6 class="mt-3 mb-2 info-title">Localidad</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                              <div class="form-group">
                                <label for="Street">Dirección</label>
                                <input type="name" class="form-control" id="Street" placeholder="Enter Street">
                              </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                              <div class="form-group">
                                <label for="ciTy">Localidad</label>
                                <input type="name" class="form-control" id="ciTy" placeholder="Enter City">
                              </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                              <div class="form-group">
                                <label for="sTate">Provincia</label>
                                <input type="text" class="form-control" id="sTate" placeholder="Enter State">
                              </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                              <div class="form-group">
                                <label for="zIp">Codigo Postal</label>
                                <input type="text" class="form-control" id="zIp" placeholder="Zip Code">
                              </div>
                            </div>
                          </div>
                          <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="buttons text-right"> 
                                <button class="button-guardar btn px-4 ms-3" >Ir a mis servicios</button> 
                                <button class="button-guardar btn px-4 ms-3" >Guardar</button> 

                              </div>
                            </div>
                          </div>
                        </div>
                      
                      </div>
                      </div>
                      </div>
                  </div>
                </div>
          

      </div>
    </div>
  </div>
</div>
</div>




