<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center" >
    <div class="main-container col-lg-10" id="shadow" style="height: 500px">
      <div class="d-flex justify-content-center">
        <div class="col-md-8">
          <div class="alert alert-success" *ngIf="success"><strong>Registration saved!</strong> Please check your email for confirmation.</div>

          <div class="alert alert-danger" *ngIf="error"><strong>Registration failed!</strong> Please try again later.</div>

          <div class="alert alert-danger" *ngIf="errorUserExists">
            <strong>Login name already registered!</strong> Please choose another one.
          </div>

          <div class="alert alert-danger" *ngIf="errorEmailExists"><strong>Email is already in use!</strong> Please choose another one.</div>

          <div class="alert alert-danger" *ngIf="doNotMatch">The password and its confirmation do not match!</div>
        </div>
      </div>
      <div class="row">
        <div class="form-box col-sm-12 col-md-6 col-lg-6  align-items-center">
          <form [formGroup] ="this.registerForm" (ngSubmit)="onSubmit();">
            <div class="upper-box">
              <h1 id="title" class="text" style="padding-top: 100px;">NetJob</h1>
              <h5 id="subtitle" class="text">Find your Service Worker</h5>
            </div>

            <div class="form-outline form-group">
              <input type="text"
                class="form-control form-control-lg"
                placeholder="Login"
                formControlName="login"
                />
                <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                  <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.required"> Your username is required. </small>

                  <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.minlength">
                    Your username is required to be at least 1 character.
                  </small>

                  <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.maxlength">
                    Your username cannot be longer than 50 characters.
                  </small>

                  <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.pattern">
                    Your username can only contain letters and digits.
                  </small>
                </div>
            </div>

            <div class="form-outline form-group">
              <input type="email"
                class="form-control form-control-lg"
                placeholder="Email"
                formControlName="email"
                />
                <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                  <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.required"> Your email is required. </small>

                  <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.invalid"> Your email is invalid. </small>

                  <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.minlength">
                    Your email is required to be at least 5 characters.
                  </small>

                  <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.maxlength">
                    Your email cannot be longer than 100 characters.
                  </small>
                </div>
            </div>


            <div class="form-outline form-group">
              <input type="password"
                class="form-control form-control-lg"
                placeholder="Password"
                formControlName="password"
                minlength="6"
                 />
                 <div
                 *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)"
               >
                 <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.required"> Your password is required. </small>

                 <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.minlength">
                   Your password is required to be at least 4 characters.
                 </small>

                 <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.maxlength">
                   Your password cannot be longer than 50 characters.
                 </small>
               </div>
            </div>

            <div class="form-outline form-group">
              <input type="password"
                class="form-control form-control-lg"
                placeholder="Confirm Password"
                formControlName="password_confirmed"
                minlength="6"
                 />
                 <div
                 *ngIf="
                   registerForm.get('password_confirmed')!.invalid &&
                   (registerForm.get('password_confirmed')!.dirty || registerForm.get('password_confirmed')!.touched)
                 "
               >
                 <small class="form-text text-danger" *ngIf="registerForm.get('password_confirmed')?.errors?.required">
                   Your confirmation password is required.
                 </small>

                 <small class="form-text text-danger" *ngIf="registerForm.get('password_confirmed')?.errors?.minlength">
                   Your confirmation password is required to be at least 4 characters.
                 </small>

                 <small class="form-text text-danger" *ngIf="registerForm.get('password_confirmed')?.errors?.maxlength">
                   Your confirmation password cannot be longer than 50 characters.
                 </small>
               </div>
            </div>


            <div class="form-outline">
              <button   class="button btn btn-dark btn-lg btn-circle btn-block" type="submit">
             <!-- <span class="spinner-border spinner-border-sm mr-1" *ngIf="isLoading"></span> -->
                Registrarme
              </button>
           <!--   <div *ngIf="errorMsg" class="alert alert-danger mt-3 mb-0" style="font-size: 1.7rem;">{{errorMsg}}</div> -->
            </div>
          </form>
        </div>

        <div class="imagen-box col-sm-12 col-md-6 col-lg-6" >
          <img src="./../../../assets/img_main.png" class="img-fluid d-block"/>
        </div>

      </div>
    </div>
  </div>
</div>






















