
<div class="container-fluid" >
  <div class="row d-flex justify-content-center align-items-center" >
    <div class="main-container col-lg-10" id="shadow" style="background-color: white; padding: 20px;">
      <form>
        <div class="row">
          <div class="part col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <div class="form-group">
              <label for="usuarioElegido"><b>Espcialistas:</b></label>
              <select class="form-control" name="usuarioElegido" id="usuarioElegido" [(ngModel)]="filter.usuarioElegido"
                (change)="onChangeUsuario()">
                <option [ngValue]="null" selected>Elige un especialista</option>
                <option [ngValue]="usuario?.user?.id" *ngFor="let usuario of usuarios">{{usuario?.user?.login}}</option>
              </select>
            </div>
          </div>

          <div class="part col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <div class="form-group">
              <label for="especialista"><b>Categoria:</b></label>
              <select *ngIf="!filter.usuarioElegido && !filter.todos" class="form-control" name="especialista" id="especialista" disabled>
               <option value="''" selected>Elige una Categoria</option>
              </select>
              <select *ngIf="filter.usuarioElegido || filter.todos" class="form-control" name="especialista" id="especialista"
                [(ngModel)]="filter.categoriaElegido" (change)="onChangeUsuarioCategoria()">
                <option [ngValue]="null" selected>Elige un Categoria</option>
                <option [ngValue]="categoria.id" *ngFor="let categoria of categoriasFilter">
                {{categoria.nombre}}
                </option>
              </select>
            </div>
          </div>

          <div class="part col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <div class="form-group">
              <label for="contenido" class="mr-2"><b>Busqueda:</b></label>

              <div class="input-group">
                <input type="text" class="form-control" name="disponibilidad" id="disponibilidad"
                [(ngModel)]="filter.titleOrDescription" [disabled]="!filter.todos">
                <button class="btn btn-outline-success" (click)="onChangeListByContenido()"
                [disabled]="filter.titleOrDescription == null"><img class="img-icon" src="./../../../assets/magnifying-glass-solid.svg"></button>
                <button class="btn btn-outline-danger" (click)="clearDisponibilidad()"
                [disabled]="filter.titleOrDescription == null"><img class="img-icon" src="./../../../assets/trash-can-solid.svg"></button>
            </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="contenido" id="contenido"  [value]="null" [(ngModel)]="filter.contenido" (change)="onChangeListByContenido()">
                    <label class="form-check-label" for="contenido">
                      Todos
                    </label>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="contenido" id="contenido"  [value]="true" [(ngModel)]="filter.contenido" (change)="onchangeFilterTodos()">
                  <label class="form-check-label" for="contenido">
                   Titulo
                  </label>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="contenido" id="contenido" [value]="false" [(ngModel)]="filter.contenido" (change)="onchangeFilterTodos()">
                    <label class="form-check-label" for="contenido"
                       >
                      Descripción
                    </label>
                </div>
            </div>
          </div>

        </div>

        <div class="row">




          <div class="part col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <div class="form-group">
                <label for="color"><b>Horario:</b></label>
                <select class="form-control" name="color" id="color"
                [(ngModel)]="filter.horario" (change)="onChangeHorarioServicio()">
                    <option value="" selected>Elige horario</option>
                    <option value="MANANA">Mañana</option>
                    <option value="TARDE">Tarde</option>
                    <option value="COMPLETA">Completa</option>
                </select>
              </div>
          </div>


          <div class="part col-xl-4 col-lg-4 col-md-12 col-sm-12" >
            <div class="form-group">
              <label for="kmDesde"><b>Precio Desde:</b></label>
                <div class="input-group">
                  <input type="number" class="form-control" name="kmDesde" id="kmDesde"
                    [(ngModel)]="initialized">
                    <button class="btn btn-outline-success"  (click)="onChangeUsuarioCategoria()"
                    [disabled]="!initialized"><img class="img-icon" src="./../../../assets/magnifying-glass-solid.svg"></button>
                    <button class="btn btn-outline-danger" (click)="onChangeUsuarioCategoria()"
                    [disabled]="!initialized"><img class="img-icon" src="./../../../assets/trash-can-solid.svg"></button>
                </div>
            </div>
          </div>

          <div class="part col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <div class="form-group">
              <label for="kmHasta"><b>Precio Hasta:</b></label>
              <div class="input-group">
              <input type="number" class="form-control" name="kmHasta" id="kmHasta"
                [(ngModel)]="initialized">
                <button class="btn btn-outline-success" (click)="onChangeUsuarioCategoria()"
                [disabled]="!initialized"><img class="img-icon" src="./../../../assets/magnifying-glass-solid.svg"></button>
                <button class="btn btn-outline-danger" (click)="onChangeUsuarioCategoria()"
                [disabled]="!initialized"><img class="img-icon" src="./../../../assets/trash-can-solid.svg"></button>
              </div>
            </div>
          </div>



        <div class="row" >
          <div class="part col-9">
            <button class="btn-borrar form-control" (click)="reset()" style="text-align: center;">Borrar Filtros</button>
          </div>
        </div>

        </div>

      </form>
    </div>
  </div>
</div>



<div class="container-fluid" >
  <div class="row d-flex justify-content-center align-items-center" >
    <div class="main-container col-lg-10" id="shadow" style="background-color: white;">
      <div class="row" style="align-items: center;">

        <div class="col container  table-responsive" >
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Disponibilidad</th>
                <th>Precio hora</th>
                <th>Precio Desplazamiento</th>
                <th>Técnico</th>
                <th>Categoria</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let servicio of servicios; let i = index" [attr.data-index]="i">
                <td>{{ servicio.id }}</td>
                <td>{{ servicio.titulo }}</td>
                <td>{{ servicio.descripcion }}</td>
                <td>{{ servicio.disponibilidad }}</td>
                <td>{{ servicio.preciohora }} €</td>
                <td>{{ servicio.preciotraslado }} €</td>
                <td>{{ servicio.usuario?.user?.login }}</td>
                <td>
                <div  *ngFor="let categorias of servicio.categorias ; let x = index" [attr.data-index]="x">
                  <span class="badge badge-warning" style="padding: 5px; font-size: 1.2rem;">{{ categorias.nombre}}</span>
                </div>
                </td>
                <td>
                  <button class="btn details-table" (click)="goDetalService(servicio.id)"> Show details</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>





