<div class="container mb-5">
  <form>
      <div class="row">
          <div class="col">
              <div class="form-group">
                  <label for="servicioElegido"><b>Servicios:</b></label>
                  <select class="form-control" name="servicioElegido" id="servicioElegido" [(ngModel)]="servicioElegido"
                      (change)="onChangeServicio()">
                      <option [ngValue]="null" selected>Elige un especialista</option>
                      <option [ngValue]="servicio" *ngFor="let servicio of servicios">{{servicio.titulo}}</option>
                  </select>
              </div>
          </div>

          <div class="col">
              <div class="form-group">
                  <label for="categoria"><b>Categoria:</b></label>
                  <select *ngIf="!servicioElegido" class="form-control" name="categoria" id="categoria" disabled>
                      <option value="''" selected>Elige una Categoria</option>
                  </select>
                  <select *ngIf="servicioElegido" class="form-control" name="categoria" id="categoria"
                      [(ngModel)]="buscarServicios.categorias" (change)="listaServicios()">
                      <option [ngValue]="''" selected>Elige un Modelo</option>
                      <option [ngValue]="categoria.nombre" *ngFor="let categoria of servicioElegido.categorias">
                          {{categoria.nombre}}
                      </option>
                  </select>
              </div>
          </div>
<!--
          <div class="col">
              <div class="form-group">
                  <label for="version"><b>Versión:</b></label>
                  <div class="input-group">
                      <button class="btn btn-outline-danger" (click)="clearVersion()"
                      [disabled]="!busqueda.version">Vaciar</button>
                      <input type="text" class="form-control" name="version" id="version"
                      [(ngModel)]="busqueda.version">
                      <button class="btn btn-outline-success" (click)="listaCoches()"
                      [disabled]="!busqueda.version">Filtrar</button>
                  </div>
              </div>
          </div>
                -->

          <div class="col-4">
            <label for="reset"><b>Reset:</b></label>
            <button class="btn btn-outline-danger form-control" (click)="reset()">Borrar Filtros</button>
        </div>
      </div>
  </form>
</div>
<div class="container" style="margin-top: 70px;">
  <div class="table-responsive-sm">
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Descripción</th>
          <th>Disponibilidad</th>
          <th>Precio hora</th>
          <th>Desplazamiento</th>
          <th>Técnico</th>
          <th>Categoria</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let servicio of servicios; let i = index" [attr.data-index]="i">
          <td>{{ servicio.id }}</td>
          <td>{{ servicio.titulo }}</td>
          <td>{{ servicio.descripcion }}</td>
          <td>{{ servicio.disponibilidad }}</td>
          <td>{{ servicio.preciohora }}</td>
          <td>{{ servicio.preciotraslado }}</td>
          <td>{{ servicio.usuario?.user?.login }}</td>
          <td>
            <div  *ngFor="let item of servicio.categorias ; let x = index" [attr.data-index]="x">
              <span class="badge badge-warning">{{ servicio.categorias[x]?.nombre}}</span>
            </div>
          </td>
          <td>
            <button class="btn btn-primary"> Show details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
