<section class="vh-100">
    <div class="container-fluid py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" id="shadow">
            <div class="row">

                  <div class="form-box col-md-6 col-lg-6 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5">
                      <div class="alert alert-success" *ngIf="success">
                        <span>Check your emails for details on how to reset your password.</span>
                      </div>
                      <form  *ngIf="!success"  [formGroup]="resetPasswordForm" (ngSubmit)="resetPass()">
                        <div class="upper-box">
                            <h1 id="title" class="text h1 fw-bold mb-0">NetJob</h1>
                            <h5 id="subtitle" class="text fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Find your Service Worker</h5>
                            <p class="text" id="descripcion">Recuperar la contraseña: escribe tu dirección de correo y enviaremos un enlace para que puedas corregir tu contraseña.</p>
                        </div>

                        <div class="form-outline mb-4">
                          <input type="email" class="form-control form-control-lg" placeholder="Email" formControlName="email"/>
                            <div
                              *ngIf="
                              resetPasswordForm.get('email')!.invalid && (resetPasswordForm.get('email')!.dirty || resetPasswordForm.get('email')!.touched)
                              "
                            >
                            <small class="form-text text-danger" *ngIf="resetPasswordForm.get('email')?.errors?.required"> Your email is required. </small>

                            <small class="form-text text-danger" *ngIf="resetPasswordForm.get('email')?.errors?.email"> Your email is invalid. </small>

                            <small class="form-text text-danger" *ngIf="resetPasswordForm.get('email')?.errors?.minlength">
                              Your email is required to be at least 5 characters.
                            </small>

                            <small class="form-text text-danger" *ngIf="resetPasswordForm.get('email')?.errors?.maxlength">
                              Your email cannot be longer than 100 characters.
                            </small>
                          </div>
                        </div>

                        <div class="pt-1 mb-4">
                          <button class="button btn btn-dark btn-lg btn-circle btn-block" type="submit" [disabled]="resetPasswordForm.invalid" >Enviar correo</button>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div class="imagen col-md-6 col-lg-6 d-md-block d-sm-none">
                    <img src="./../../../assets/img_main.png" class="img-fluid d-block"/>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

