@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
*{
    font-family: 'Roboto';
}

.overlay{
  background-color: rgba(255, 255, 255, 1);
  right: 0;
  left: 0;
  bottom: 0;
    top: 0;
}

nav{
    width: 100%;
    z-index: 2;
    text-align: center;
    padding: 5px !important;

}

.categoria-title{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    padding-left: 30px;
    text-align: center;
}

.destacados-title{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}

.search-button{
    background-color: #A381BD;
}

a{
    font-weight: 300;
}

.navbar .navbar-brend{
border-style: dashed;
border-color: aquamarine;
}


.navbar>a{
    border-right: 1px solid white;
    padding-right: 20px;
}

.form-control{
    width: 300px;
}


.category{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

body {
    background-color: #f8f8f8
}

.categoria-box{
    background-color: white;
    margin: 30px;
    border: #422168;
    border-style: solid;
    border-width: 0.7px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

}


.destacados-box{
    background-color: white;
    margin: 10px;
    border: #422168;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 200px;

}

.box {
    padding: 25px 15px;
    transition: all .4s ease-in-out;
    cursor: pointer;

}

.categoria-box:hover {
    box-shadow: 2px 2px 10px #a5a5a5;
    transform: scale(1.03)
}

a:hover {
    text-decoration: none
}

.image-icon {
    object-fit: contain;
    width: 70px;
    height: 70px
}

.cat{
    padding: 0;
    margin: 0;
    border-style: solid;
    border-color: #422168;
}
p.text-muted {
    margin: 0;
    font-size: 0.9rem
}

b {
    font-size: 1.4rem;
    font-weight: 700;
}

.rounded-circle {
    width: 60px;
    height: 60px;
}


.login-button{
    color: black;
    background-color: #f8f8f8;
    margin-left: 10px;
}
.blue {
    background-color: #bedcfa;
    transform: rotateZ(90deg)
}



.perfil-image{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.profile{
    padding: 0;
    margin: 0;
}

.profecion{
    font-size: 1.2rem;
    text-align: left;
    text-align: center;
}

.name{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;

}

.card{
  border-style: double;
  border-color:#422168;
  border-radius: 10px;
  align-items: center;
  box-shadow: 2px 4px 5px 0px #422678
}
.descripcion{
    font-size: 1rem;
    font-weight: 300;
    text-align: center;

}

.image-person{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    object-fit: cover;
}

footer {
  background: #422678;
   color: white;
   margin-top:100px;
 }
 footer a {
   color: #fff;
   font-size: 14px;
   transition-duration: 0.2s;
 }
 footer a:hover {
   color: #FA944B;
   text-decoration: none;
 }
 .copy {
   font-size: 12px;
   padding: 10px;
   border-top: 1px solid #FFFFFF;
 }
 .footer-middle {
   padding-top: 2em;
   color: white;
 }
 ul.social-network {
   list-style: none;
   display: inline;
   margin-left: 0 !important;
   padding: 0;
 }
 ul.social-network li {
   display: inline;
   margin: 0 5px;
 }

 .social-network a.icoFacebook:hover {
   background-color: #3B5998;
 }
 .social-network a.icoLinkedin:hover {
   background-color: #007bb7;
 }
 .social-network a.icoFacebook:hover i
 {
   color: #fff;
 }
 .social-network a.icoLinkedin:hover i {
   color: #fff;
 }
 .social-network a.socialIcon:hover {
   color: #44BCDD;
 }
 .socialHoverClass {
   color: #44BCDD;
 }
 .social-circle li a {
   display: inline-block;
   position: relative;
   margin: 0 auto 0 auto;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   text-align: center;
   width: 30px;
   height: 30px;
   font-size: 15px;
 }
 .social-circle li i {
   margin: 0;
   line-height: 30px;
   text-align: center;
 }
 .social-circle li a:hover i
 {
   -moz-transform: rotate(360deg);
   -webkit-transform: rotate(360deg);
   -ms--transform: rotate(360deg);
   transform: rotate(360deg);
   -webkit-transition: all 0.2s;
   -moz-transition: all 0.2s;
   -o-transition: all 0.2s;
   -ms-transition: all 0.2s;
   transition: all 0.2s;
 }
 .triggeredHover {
   -moz-transform: rotate(360deg);
   -webkit-transform: rotate(360deg);
   -ms--transform: rotate(360deg);
   transform: rotate(360deg);
   -webkit-transition: all 0.2s;
   -moz-transition: all 0.2s;
   -o-transition: all 0.2s;
   -ms-transition: all 0.2s;
   transition: all 0.2s;
 }
 .social-circle i {
   color: #595959;
   -webkit-transition: all 0.8s;
   -moz-transition: all 0.8s;
   -o-transition: all 0.8s;
   -ms-transition: all 0.8s;
   transition: all 0.8s;
 }
 .social-network a {
   background-color: #F9F9F9;
 }
 .social-network a:hover {
 background: #ff304d;
 }




