<p>home works!</p>
<div [ngSwitch]="accountModel !== null">
  <div class="alert alert-success" *ngSwitchCase="true">
    <ul>
      <li>
        <span id="home-logged-message" *ngIf="accountModel">You are logged in as user "{{ accountModel.login }}".</span>
      </li>
      <li>
        <span id="home-logged-message" *ngIf="accountModel">authorities "{{ accountModel.authorities }}".</span>
      </li>
      <li>
        <span id="home-logged-message" *ngIf="accountModel">email "{{ accountModel.email }}".</span>
      </li>
    </ul>
  </div>

