<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="main-container col-lg-12" id="shadow" style="height: 100vh; ">

            <div class="row" style="align-items: center;">
                <div class="col-lg-11 col-sm-8 col-xs-8 container mt-5">
                    <div class="card">
                        <div class="row gutters">
                            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #5C3A7D; text-align: center; padding-bottom: 10px;padding-top: 15px;">
                                <img mat-card-image class="image-person img-fluid rounded-circle pt-3 center" [src]="'data:' + usuario?.imagenContentType + ';base64,' + usuario?.imagen" alt="perfil image" />
                                <br>
                                <mat-card-title class="text-white">{{ usuario?.nombre }}</mat-card-title>
                                <br>
                                <mat-card-subtitle class="text-white" style="font-size: 1.3rem;">{{ usuario?.profesion }}</mat-card-subtitle>
                                <mat-card-actions>
                                    <div class="row justify-content-center py-3">
                                        <button class="btn button-envelope  m-2" mat-button (click)="this.goToConversacion()"><img class="img-icon" src="./../../../assets/envelope-solid.svg"> Contactar</button>
                                    </div>
                                </mat-card-actions>

                                <ul class="list-group borderless">
                                    <li class="list-group-item">
                                        <label>Email:</label>
                                        <br>
                                        <span class="text">{{ usuario?.correo }}</span>

                                    </li>
                                    <li class="list-group-item  py-2">
                                        <label>Localidad:</label>
                                        <br>
                                        <span class="text"> {{usuario?.localidad }}</span>
                                    </li>
                                    <li class="list-group-item  py-2">
                                        <label>Provincia:</label>
                                        <br>
                                        <span class="text"> {{usuario?.provincia }}</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #E6E6FA;">
                                <div class="row">
                                    <div class="card card-servicio m-2" style="width: 20rem;" *ngFor="let servicio of servicios">
                                        <div class="card-body pb-2">
                                            <h3 class="card-title font-weight-bold" style="font-size: 1.5rem;"> {{servicio.titulo}} </h3>
                                            <h6 class="card-subtitle mb-2 text-muted" style="font-size: 1.2rem;">Card subtitle</h6>
                                            <p class="card-text" style="font-size: 1rem;">{{ servicio.descripcion }}</p>
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <img class="img-icon" src="./../../../assets/envelope-solid.svg">
                                                    <a [routerLink]="['/conversaciones']" class="card-link text-dark ml-1">Enviar mensaje</a>
                                                </div>
                                                <div>
                                                    <img class="img-icon" src="./../../../assets/screwdriver-wrench-solid.svg">
                                                    <a href="#" class="card-link text-dark ml-1">Solicitar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>