<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-xl-3 col-lg-3 mb-3">
      <mat-card class="example-card text-center bg-light">
        <img mat-card-image  src="./../../../assets/photo.jfif" class="image-person img-fluid rounded-circle pt-3" alt="Photo of a Shiba Inu">
            <mat-card-title>{{ usuario?.nombre }}</mat-card-title>
            <mat-card-subtitle>{{ usuario?.profesion }}</mat-card-subtitle>
            <mat-card-actions>
              <div class="row justify-content-center py-3">
                <button class="btn btn-info m-2" mat-button><i class="material-icons text-light" style="font-size:30px; vertical-align: middle;">email</i> Contactar</button>
                <button class="btn btn-success m-2" mat-button><i class="material-icons" style="font-size:30px; vertical-align: middle;">handyman</i> Solicitar</button>
              </div>
            </mat-card-actions>
      </mat-card>

      <mat-card class="example-card mt-5 bg-light">
        <mat-card-content>
            <ul class="list-group borderless">
              <li class="list-group-item bg-light">
                <h5 class="m-0 font-weight-bold">Email:</h5>
                <span class="text-primary">{{ usuario?.correo }}</span>
              </li>
              <li class="list-group-item bg-light py-2">
                <h5 class="m-0 font-weight-bold">Localidad:</h5>
                <span class="text-primary"> {{usuario?.localidad }}</span>
              </li>
              <li class="list-group-item bg-light py-2">
                <h5 class="m-0 font-weight-bold">Provincia:</h5>
                <span class="text-primary"> {{usuario?.provincia }}</span>
              </li>
            </ul>

        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lx-9 col-lg-9 card bg-light">
      <div class="row">
        <mat-card class="mt-3 ml-3" style="width: 22rem;" *ngFor="let servicio of servicios">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{servicio.titulo}}</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </mat-card-actions>
        </mat-card>

      </div>
    </div>
  </div>
</div>
