<script src="https://kit.fontawesome.com/ec98b7bfbc.js" crossorigin="anonymous"></script>


<div class="overlay">

    <div class="container-fluid" style="background-color: white;">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="main-container col-lg-12" id="shadow" style="height: 100vh; ">

                <div class="row" style="align-items: center;">
                    <div class="col-lg-11 col-sm-8 col-xs-8 container mt-5">
                        <div class="card" style="background-color: #422678;">

                            <div class="row gutters">
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                                    <div class="card h-100 profile-info">
                                        <div class="card-body" style="background-color: #5C3A7D;">
                                            <div class="account-settings">
                                                <div class="user-profile">
                                                    <div class="user-avatar text-center" style="margin-bottom: 30px;">
                                                        <img class="image-person img-fluid rounded-circle center" src="./../../../assets/photo.jfif" alt="Maxwell Admin">
                                                    </div>
                                                    <h5 class="user-name user-info" style="font-size: 2.5rem;">{{this.usuarioModel?.user?.login}}</h5>
                                                    <h6 class="user-email user-info">{{this.usuarioModel?.correo}}</h6>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                                    <div class="card h-100 profile-info">
                                        <div class="card-body">
                                            <div class="row gutters">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <h6 class="mb-2 info-title">Información personal</h6>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label for="fullName">Nombre y Apellidos</label>
                                                        <p>{{this.usuarioModel?.nombre}} {{this.usuarioModel?.apellidos}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label for="eMail">Correo</label>
                                                        <p>{{this.usuarioModel?.correo}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label for="phone">DNI</label>
                                                        <p>{{this.usuarioModel?.dni}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label for="website">Profeción</label>
                                                        <p>{{this.usuarioModel?.profesion}}</p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row gutters">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <h6 class="mt-3 mb-2 info-title">Localidad</h6>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label for="Street">Dirección</label>
                                                        <p>{{this.usuarioModel?.direccion}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label for="ciTy">Localidad</label>
                                                        <p>{{this.usuarioModel?.localidad}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label for="sTate">Provincia</label>
                                                        <p>{{this.usuarioModel?.provincia}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label for="zIp">Codigo Postal</label>
                                                        <p>28032</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row gutters">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <div class="buttons text-right">
                                                        <button class="button-contact btn btn-outline-primary px-4">Mis servicios</button>
                                                        <button class="button-contact btn btn-outline-primary px-4">Mis reseñas</button>
                                                        <button class="button-contact btn btn-primary px-4 ms-3" [routerLink]="['/edit-profile']" routerLinkActive="router-link-active" >Editar</button>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>