<!--
<div class="container-fluid mt-5">
  <div class="row align-items-center">
    <div class="col-3">
    </div>
    <div class="col-xl-6 col-lg-6 justify-content-center d-flex">
      <mat-card class="example-card bg-light">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" ></div>
          <mat-card-title>
            <span (click)="goDetailPerfil(usuario.id)" style="cursor:pointer">{{ usuario?.user?.login }}</span>
          </mat-card-title>
          <mat-card-subtitle><strong>{{ usuario?.profesion }}</strong></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="mx-3">
            <h4>
              Información de {{ service?.titulo }}
            </h4>
            <p>
              {{ service?.descripcion }}
            </p>
          </div>
          <hr>
          <div class="row mx-3">
            <ul class="list-group borderless">
              <li class="list-group-item bg-light">
                <h6 class="m-0">Tipo de categoria:</h6>
                <span class="badge badge-warning mr-2" *ngFor="let categoria of service?.categorias">{{ categoria.nombre}}</span>
              </li>
              <li class="list-group-item bg-light py-2">
                <h6 class="m-0">Disponibilidad:</h6>
                <span>{{ service?.disponibilidad }}</span>
              </li>
              <li class="list-group-item bg-light py-2">
                <h6 class="m-0">Precio hora:</h6>
                <span>{{ service?.preciohora }}</span>
              </li>
              <li class="list-group-item bg-light py-2">
                <h6 class="m-0">Precio desplazamiento:</h6>
                <span>{{ service?.preciotraslado }}</span>
              </li>
            </ul>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="row justify-content-center py-3">
            <button class="btn btn-info m-2" mat-button><i class="material-icons text-light" style="font-size:30px; vertical-align: middle;">email</i> Contactar</button>
            <button class="btn btn-success m-2" mat-button><i class="material-icons" style="font-size:30px; vertical-align: middle;">handyman</i> Solicitar</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>
-->



<div class="container-fluid" >
  <div class="row d-flex justify-content-center align-items-center" >
    <div class="main-container col-lg-12" id="shadow" style="height: 100vh; ">

      <div class="row" style="align-items: center;">
            <div class="col-lg-11 col-sm-8 col-xs-8 container mt-5" >
                  <div class="card" style="background-color: #422678;">

                      <div class="row gutters">
                      <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12" >
                      <div class="card h-100 profile-info">
                        <div class="card-body" style="background-color: #5C3A7D;">
                          <div class="account-settings">
                            <div class="user-profile" >
                              <div class="user-avatar text-center">
                                <img class="image-person img-fluid rounded-circle center" src="./../../../assets/photo.jfif" alt="Maxwell Admin" >
                                <p class="user-name user-info user-info-name pointer"  (click)="goDetailPerfil(usuario?.id)" style="cursor:pointer" >{{ usuario?.nombre }}</p>
                             <br>
                              <p class="user-name user-info" style="cursor:pointer">{{ usuario?.profesion }}</p>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                      <div class="card h-100 profile-info">
                        <div class="card-body" style="margin-left: 20px;">
                          <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <h6 class=" info-title" style="margin-top: 20px; font-size: 2.3rem; line-height: normal;">Detalles del servicio <img class="fav" src="./../../../assets/fav.png" style="height: 40px;"></h6>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="form-group">
                                <label style="margin-top: 50px;">Categoria del servicio</label>
                                <br>
                                <p class="info badge badge-warning mr-2" *ngFor="let categoria of service?.categorias">{{ categoria.nombre}}</p>
                              </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="form-group">
                                <label for="fullName">Descripción del servicio</label>
                                <p class="info"> {{ service?.titulo }}</p>
                              </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="form-group">
                                <label for="website">Disponibilidad</label>
                                <p class="info">{{ service?.disponibilidad }}</p>
                              </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="form-group">
                                <label for="website">Preciohora</label>
                                <p class="info">{{ service?.preciohora }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="buttons text-right">
                                <button class="button-contact btn btn-outline-primary px-4" mat-button (click)="this.goToConversacion()"><img class="icon" src="./../../../assets/envelope-solid.svg">Contactar</button>
                                <button (click)="contratar()" class="button-contact btn btn-outline-primary px-4" mat-button><img class="icon" src="./../../../assets/screwdriver-wrench-solid.svg"> Solicitar</button>

                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                      </div>
                      </div>
                  </div>
                </div>


      </div>
    </div>
  </div>
</div>
