<nav class="navbar navbar-expand-sm navbar-dark navbar-fixed-top" style="background-color: #422678">
    <a class="navbar-brand" href="#">NetJobs</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Soy profesional <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Buscar servicios <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav  mt-2 mt-lg-0 navbar-right">
          <li class="nav-item">
            <a class="nav-link" *ngIf="isAuthenticated()" routerLink="login">Iniciar sesión</a>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" *ngIf="!isAuthenticated()" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons"  style="font-size:18px; vertical-align: middle;">person</i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="#">Perfil</a>
                <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
            </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"> | <span></span></a>
      </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Especialista / Publicar servicio <span></span></a>
        </li>
      </ul>
    </div>
    {{ isAuthenticated() }}
</nav>


<router-outlet></router-outlet>
