<script src="https://kit.fontawesome.com/ec98b7bfbc.js" crossorigin="anonymous"></script>

<div class="container-fluid" >
  <div class="row d-flex justify-content-center align-items-center" >
    <div class="main-container col-lg-12" id="shadow" style="height: 100vh; ">

      <div class="row" style="align-items: center;">
            <div class="col-lg-11 col-sm-8 col-xs-8 container mt-5" >
                  <div class="card">
                      <div class="card h-100 profile-info" >
                        <div class="card-body">
                              <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup] ="editForm">
                                <h2 id="jhi-usuario-heading" data-cy="UsuarioCreateUpdateHeading" style="font-size: 2.7rem; margin-top: 20px;">Editar Mis Datos</h2>


                                <div class="row mb-4">
                                  <div class="col">
                                    <div class="form-outline">
                                      <div  [hidden]="editForm.get('id')!.value == null">
                                        <label class="form-control-label" for="field_id">ID</label>
                                        <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col">
                                    <div class="form-outline">
                                        <label class="form-control-label" for="field_nombre">Nombre</label>
                                        <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
                                        <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
                                          <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.required"> This field is required. </small>
                                          <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.maxlength">
                                            This field cannot be longer than 40 characters.
                                          </small>
                                        </div>
                                      </div>
                                  </div>
                                </div>


                                <div class="row mb-4">
                                  <div class="col">
                                    <div class="form-outline">
                                        <label class="form-control-label" for="field_apellidos">Apellidos</label>
                                        <input type="text" class="form-control" name="apellidos" id="field_apellidos" data-cy="apellidos" formControlName="apellidos" />
                                        <div *ngIf="editForm.get('apellidos')!.invalid && (editForm.get('apellidos')!.dirty || editForm.get('apellidos')!.touched)">
                                          <small class="form-text text-danger" *ngIf="editForm.get('apellidos')?.errors?.maxlength">
                                            This field cannot be longer than 50 characters.
                                          </small>
                                        </div>
                                    </div>
                                  </div>

                                  <div class="col">
                                    <div class="form-outline">
                                        <label class="form-control-label" for="field_correo">Correo</label>
                                        <input type="text" class="form-control" name="correo" id="field_correo" data-cy="correo" formControlName="correo"  [readonly]="true" />
                                        <div *ngIf="editForm.get('correo')!.invalid && (editForm.get('correo')!.dirty || editForm.get('correo')!.touched)">
                                          <small class="form-text text-danger" *ngIf="editForm.get('correo')?.errors?.required"> This field is required. </small>
                                          <small class="form-text text-danger" *ngIf="editForm.get('correo')?.errors?.maxlength">
                                            This field cannot be longer than 20 characters.
                                          </small>
                                        </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="row mb-4">
                                  <div class="col">
                                    <div class="form-outline">
                                        <label class="form-control-label" for="field_dni">Dni</label>
                                        <input type="text" class="form-control" name="dni" id="field_dni" data-cy="dni" formControlName="dni" />
                                        <div *ngIf="editForm.get('dni')!.invalid && (editForm.get('dni')!.dirty || editForm.get('dni')!.touched)">
                                          <small class="form-text text-danger" *ngIf="editForm.get('dni')?.errors?.required"> This field is required. </small>
                                          <small class="form-text text-danger" *ngIf="editForm.get('dni')?.errors?.pattern">
                                            This field should follow pattern for "Dni".
                                          </small>
                                        </div>    
                                    </div>
                                  </div>

                                  <div class="col">
                                    <div class="form-outline">
                                        <label class="form-control-label" for="field_direccion">Direccion</label>
                                        <input type="text" class="form-control" name="direccion" id="field_direccion" data-cy="direccion" formControlName="direccion" />
                                        <div *ngIf="editForm.get('direccion')!.invalid && (editForm.get('direccion')!.dirty || editForm.get('direccion')!.touched)">
                                          <small class="form-text text-danger" *ngIf="editForm.get('direccion')?.errors?.required"> This field is required. </small>
                                        </div>
                                    </div>
                                  </div>
                                </div>


                                <div class="row mb-4">
                                  <div class="col">
                                    <div class="form-outline">
                                    <label class="form-control-label" for="field_localidad">Localidad</label>
                                    <input type="text" class="form-control" name="localidad" id="field_localidad" data-cy="localidad" formControlName="localidad" />
                                    <div *ngIf="editForm.get('localidad')!.invalid && (editForm.get('localidad')!.dirty || editForm.get('localidad')!.touched)">
                                      <small class="form-text text-danger" *ngIf="editForm.get('localidad')?.errors?.required"> This field is required. </small>
                                    </div>
                                    </div>
                                  </div>

                                  <div class="col">
                                    <div class="form-outline">
                                        <label class="form-control-label" for="field_provincia">Provincia</label>
                                        <input type="text" class="form-control" name="provincia" id="field_provincia" data-cy="provincia" formControlName="provincia" />
                                        <div *ngIf="editForm.get('provincia')!.invalid && (editForm.get('provincia')!.dirty || editForm.get('provincia')!.touched)">
                                          <small class="form-text text-danger" *ngIf="editForm.get('provincia')?.errors?.required"> This field is required. </small>
                                        </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="row mb-4">
                                  <div class="col">
                                    <div class="form-outline">
                                        <label class="form-control-label" for="field_fn">Fn</label>
                                        <div class="d-flex">
                                          <input
                                            id="field_fn"
                                            data-cy="fn"
                                            type="datetime-local"
                                            class="form-control"
                                            name="fn"
                                            formControlName="fn"
                                            placeholder="YYYY-MM-DD HH:mm"
                                          />
                                        </div>
                                        <div *ngIf="editForm.get('fn')!.invalid && (editForm.get('fn')!.dirty || editForm.get('fn')!.touched)">
                                          <small class="form-text text-danger" *ngIf="editForm.get('fn')?.errors?.required"> This field is required. </small>
                                          <small class="form-text text-danger" [hidden]="!editForm.get('fn')?.errors?.ZonedDateTimelocal">
                                            This field should be a date and time.
                                          </small>
                                        </div>
                                      </div>
                                  </div>

                                  <div class="col">
                                    <div class="form-outline">
                                        <label class="form-control-label" for="field_profesion">Profesion</label>
                                        <input type="text" class="form-control" name="profesion" id="field_profesion" data-cy="profesion" formControlName="profesion" />
                                    </div>
                                  </div>
                                </div>

                                <div class="row mb-4">
                                  <div class="col">
                                    <div class="form-outline">
                                        <label class="form-control-label" for="field_imagen">Imagen</label>
                                        <div>
                                          <img
                                            [src]="'data:' + editForm.get('imagenContentType')!.value + ';base64,' + editForm.get('imagen')!.value"
                                            style="max-height: 100px"
                                            *ngIf="editForm.get('imagen')!.value"
                                            alt="usuario image"
                                          />
                                          <div *ngIf="editForm.get('imagen')!.value" class="form-text text-danger clearfix">
                                            <span class="pull-left">{{ editForm.get('imagenContentType')!.value }}, {{ byteSize(editForm.get('imagen')!.value) }}</span>
                                            <button
                                              type="button"
                                              (click)="clearInputImage('imagen', 'imagenContentType', 'file_imagen')"
                                              class="btn btn-danger btn-xs pull-right" style="margin-left:15px;">Eliminar</button>
                                          </div>
                                          <input type="file" id="file_imagen" data-cy="imagen" (change)="setFileData($event, 'imagen', true)" accept="image/*" />
                                        </div>
                                        <input type="hidden" class="form-control" name="imagen" id="field_imagen" data-cy="imagen" formControlName="imagen" />
                                        <input
                                          type="hidden"
                                          class="form-control"
                                          name="imagenContentType"
                                          id="field_imagenContentType"
                                          formControlName="imagenContentType"
                                        />
                                      </div>
                                  </div>

                                  <div class="col">
                                    <div class="form-outline">
                                        <label class="form-control-label" for="field_fechaRegistro">Fecha Registro</label>
                                        <div class="d-flex">
                                          <input
                                            id="field_fechaRegistro"
                                            data-cy="fechaRegistro"
                                            type="datetime-local"
                                            class="form-control"
                                            name="fechaRegistro"
                                            formControlName="fechaRegistro"
                                            placeholder="YYYY-MM-DD HH:mm"
                                          />
                                        </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="row gutters">
                                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="buttons text-right">
                                      <button class="button-guardar btn px-4 ms-3"  type="submit"
                                      id="save-entity"
                                      data-cy="entityCreateSaveButton"
                                      [disabled]="editForm.invalid || isSaving"
                                     >Guardar</button>

                                    </div>
                                  </div>
                                </div>
                              </form>
                        </div>

                      </div>
                      </div>

                </div>


      </div>
    </div>
  </div>
</div>








