@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

*{
    font-family: "Roboto";

}

body {
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
  background-color: #F2F2F2
}

h1 {
  text-align: center;
  color: #333333
}

h2{
  font-size: 3rem;
}

.cardcontainer {
  width: 300px;
  height: 400px;
  background-color: white;
  transition: 0.3s;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  margin: 25px
}



.photo {
  height: 280px;
  width: 100%
}

.photo img {
  height: 100%;
  width: 100%
}

.txt1 {
  margin: auto;
  text-align: center;
  font-size: 17px
}

.txt4 {
  font-size: 1.5rem;
  position: relative;
  top:30px;
  width: fit-content;
}

.txt5 {
  position: relative;
  top: 15px;
  color: #E74C3C;
  font-size: 1.2rem;
}

.txt2 {
  position: relative;
  bottom:10px
}

.content {
  width: 80%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -33px
}

.photos {
  width: auto;
  height: 30px;
  background-color: #67418C;
  color: white;
  position: relative;
  top: -30px;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 20px;
}



.cardcontainer:hover>.photo {
  height: 200px;
  animation: move1 0.5s ease both
}

@keyframes move1 {
  0% {
      height: 280px
  }

  100% {
      height: 260px
  }
}

.cardcontainer:hover>.content {
  height: 200px
}

.footer {
  width: 80%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  position: relative;
  top: -15px
}

.btn {
  position: relative;
  top: 20px
}

#heart {
  cursor: pointer
}

.like {
  float: right;
  font-size: 22px;
  position: relative;
  top: 20px;
  color: #333333
}

.fa-gratipay {
  margin-right: 10px;
  transition: 0.5s
}

.fa-gratipay:hover {
  color: #E74C3C
}

.txt3 {
  color: gray;
  position: relative;
  top: 18px;
  font-size: 14px
}

.comments {
  float: right;
  cursor: pointer
}

.fa-clock,
.fa-comments {
  margin-right: 7px
}

.title{
  font-size: 3rem;
}

.main-container{
    margin-top: 50px;
    border: none;
    position: relative;
    overflow: hidden;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
    background: rgb(255,255,255);
    background-image: linear-gradient(white, white );
    transition: transform .2s; /* Animation */
}



.btn-categ:hover{
  border: 1px solid #67418C !important;
  background-color: white;
  color: #67418C;
  height: 50px;
  font-size: 1.3rem;
  width: 200px;
  margin-top:10px;
  margin-bottom: 30px;

}

.btn-categ{
  background-color: #67418C;
  color: #fff;
  height: 55px;
  font-size: 1.3rem;
  width: 220px;
  margin-top:10px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);

}

.btn-cont{
  padding: 0 20px;
}