<div class="container conversacion mt-5">
    <div class="row" *ngIf="this.mensajes">
        <div class="col-md-10" *ngFor="let mensaje of this.mensajes">
            <div class="mensaje w-100">
                <div class="d-flex justify-content-end emisor" *ngIf="mensaje.emisor.id == accountModel?.id" style="text-align: end;">

                    <p>{{mensaje.texto}}</p>&nbsp;&nbsp;&nbsp;
                    <p class="hora">{{mensaje.fecha.format("HH:mm")}}</p>
                </div>
                <div class="d-flex justify-content-start receptor" *ngIf="mensaje.emisor.id != accountModel?.id" style="text-align: start;">
                    <p>{{mensaje.texto}}</p>&nbsp;&nbsp;&nbsp;
                    <p class="hora">{{mensaje.fecha.format("HH:mm")}}</p>
                </div>
            </div>

        </div>
    </div>
</div>