
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
  
  *{
      font-family: "Roboto";
  
  }
  
  
  .card {
      border: none;
      position: relative;
      overflow: hidden;
      box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
      background: rgb(255,255,255);
      background-image: linear-gradient(white, white );
      transition: transform .2s; /* Animation */
  }
  
  .zoom {
      padding: 50px;
      background-color: green;
      transition: transform .2s; /* Animation */
      width: 200px;
      height: 200px;
      margin: 0 auto;
    }
    
    .card:hover {
      transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
  
  .fonts {
      font-size: 2rem;
      color: black;
  }
  
 
  .search-button{
      background-color: #A381BD;
  }
  
  
  a{
      font-weight: 300;
  }
  
  .buttons{
      padding-bottom: 20px;
  }

  label{
      font-size: 1.1rem;
      font-weight: 700;
      color: white;
      background-color: #A381BD;
      padding: 5px 15px;
      border-radius: 0px 30px 30px 0px;
      width: 175px;
  
  
  }
  
  
  .buttons button:nth-child(1) {
      border: 1px solid #8E24AA !important;
      color: #8E24AA;
      height: 70px;
      font-size: 1.8rem;
      width: 300px;
      margin: 10px;
  }
  
  .buttons button:nth-child(1):hover {
      border: 1px solid white !important;
      color: white;
      height: 70px;
      background-color: #5C3A7D;
      font-size: 1.8rem;
      width: 300px;
      margin: 10px;
  }
  
  .buttons button:nth-child(2) {
      border: 1px solid #5C3A7D !important;
      background-color: #5C3A7D;
      color: #fff;
      height: 70px;
      font-size: 1.8rem;
      width: 300px;
      margin: 10px;
  }
  
  .buttons button:nth-child(2):hover {
      border: 1px solid #5C3A7D !important;
      background-color: white;
      color: #5C3A7D;
      height: 70px;
      font-size: 1.8rem;
      width: 300px;
      margin: 10px;
  }
  
  .button-image{
      border: 1px solid #5C3A7D !important;
      background-color: white;
      color: #5C3A7D;
      height: 50px;
      font-size: 1.3rem;
      width: 250px;
      margin-top:10px;
      margin-bottom: 30px;
  }
  
  .button-image:hover{
      border: 1px solid white !important;
      background-color: #5C3A7D;
      color: #fff;
      height: 55px;
      font-size: 1.3rem;
      width: 250px;
      margin-top:10px;
      margin-bottom: 30px;
  }
  
  .change-img{
      height: 20px;
      margin-right: 10px;
  }
  
  h2{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .form-group{
    padding: 0 10px;
  }

  input{
      height: 50px;
  }

  .form-outline{
      padding-left: 15px;
      padding-right: 15px;
  }
  
  